.divesite-cover-photo {
  background-image: url("cenote.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.divesite-name {

}

#event_list img{
  width: 40px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.divesite-events {
  margin-top: 6%;
  margin-bottom: 3%;
}

.divesite-events h2{
  margin-top: 6%;
  margin-bottom: 6%;
}
