.divesite-cover-photo {
  background-image: url("cenote.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.divesite-name {

}

#event_list img{
  width: 40px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.divesite-events {
  margin-top: 6%;
  margin-bottom: 3%;
}

.divesite-events h2{
  margin-top: 6%;
  margin-bottom: 6%;
}

.divesite-show-container {
  margin-top: 5%;
}

.divesite-info {
  border: solid 2px #EFEFEF;
  margin-bottom: 6%;
  background-color: #001013;
  padding: 2px;
  padding-top: 12px;
  margin-left: 5%;
  border-radius: 5px;
  color: #D2D2D2;
  width: 90%
}

.divesite-info h4 {
  font-size: 32px;
}

.divesite-info-header {
  margin-bottom: 3%;
  padding-left: 3%;
}

.divesite-info p{
 padding-left: 7%;
}

.divesite-info-message {
 padding-left: 60%;
}

.divesite-info h2{
 padding-left: 6%;
 margin-bottom: 4%;
}

.divesite-info h3{
 padding-left: 4%;
 margin-top: -0.5%;
}

.divesite-info img {
  width: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}


.sighting-list {
  padding-left: 3%;
}

.sightings-header {
  min-height: 50px;
  min-width: 100%;
  background-color: #d0d8d9;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.sightings-header h3 {
  margin-bottom: 20px;
  margin-left: 1%;
  font-weight: 600;
  color: #353942;
}

.sightings-header i {
  margin-left: 4%;
}

.divesite-header {
  min-height: 50px;
  min-width: 100%;
  background-color: #d0d8d9;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.divesite-header h3 {
  margin-bottom: 20px;
  margin-left: 1%;
  font-weight: 600;
  color: #353942;
}

.divesite-header i {
  margin-left: 4%;
}

.divesite-reviews-header {
  min-height: 50px;
  min-width: 100%;
  background-color: #d0d8d9;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.divesite-reviews-header h3 {
  margin-bottom: 20px;
  margin-left: 1%;
  font-weight: 600;
  color: #353942;
}

.divesite-reviews-header i {
  margin-left: 4%;
}

.divesite-reviews-list {
  width: 59%;
  border: solid 2px white;
  margin: 30px 0;
  margin-left: 4%;
  background-color: #001013;
}

.divesite-breadcrumb {
  margin-bottom: 0px;
}

.sightings-container {
  border: solid 3px #EFEFEF;
  width: 59%;
  background-color: #001013;
  border-radius: 5px;
  margin-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sightings-container h2{
  color: white;
  margin-top: 0%;
  font-size: 28px;
}

.sightings-container hr {
  height: 1px;
  color: white;
  background-color: white;
  border: none
}

.animal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animal-box img {
  border-radius: 5px;
  border: solid 2px #B3B3B3;
}

.reviews-container {
  padding-top: 5%;
  padding-bottom: 3%;
  width: 60%;
}

.reviews-container .panel-heading{
  background-color: #D0D8D9;
}


#tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
  background-color: #f6f5f8;
}

.divesites {
  margin-top: 4%;
  padding-top: 2%;
  border-radius: 10px;
}

.margin-row {
  margin: 40px 40px;
  background-color: #353942;
  border-radius: 20px;
  padding: 20px 5px;
  width: 80%;
}


#map {
  margin-top: 2%;
}

div.bordure {
  border-bottom: 1px solid black;
}

.divesite-index-card {
}

.divesite-index-card h2, p {
  color: rgb(190,190,190);
}

.divesite-index-card img {
  border-radius: 20px;
  width: 350px;
  display: block;
}

.divesite-index-card button:hover {
  color: #6c6c6c;
  border-color: rgb(190,190,190);
}

.text-divesite-index {
  text-align: center;
  width: 315px;
}

.col-sm-2 .col-sm-offset-4 .text-center .btn .btn-banner-sidebar h2 {
  color: #353942;
}

.title-divesite {
  color: #6c6c6c;
}

.btn-banner-sidebar-tab h2 {
  color: #353942;
}

.btn-banner-sidebar-tab {
  border-color: #353942;
}

.event-card-index {
  background-color: #353942;
  color: rgb(190,190,190);
}

.event-card-index a {
  background-color: #6c6c6c;
  color: rgb(190,190,190);
  text-decoration: none;
}

.event-card-index a:hover{
  background-color: #6c6c6c;
  color: rgb(190,190,190);
  text-decoration: none;
}

#divesites {
  color: #6c6c6c;
}

.divesites-tabs {
  text-decoration: none;
  color: #6c6c6c;
}

.divesites-tabs a {
  text-decoration: none;
  color: #6c6c6c;
}

.sighting-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
