.divesite-cover-photo {
  background-image: url("cenote.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.divesite-name {

}

#event_list img{
  width: 40px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.divesite-events {
  margin-top: 6%;
  margin-bottom: 3%;
}

.divesite-events h2{
  margin-top: 6%;
  margin-bottom: 6%;
}

.divesite-info {
  margin-bottom: 6%;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 2px;
  padding-top: 20px;
  border-radius: 5px;
}

.divesite-info-header {
  margin-top: 8%;
  margin-bottom: 3%;
}

.divesite-info p{
 padding-left: 7%;
}

.divesite-info h2{
 padding-left: 6%;
 margin-bottom: 4%;
}

.divesite-info h3{
 padding-left: 4%;
 margin-top: -0.5%;
}

.divesite-info img {
  width: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}


.sighting-list {
  padding-left: 3%;
}

.divesite-reviews-list {
  margin: 30px 0;
}

#tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
  background-color: #f6f5f8;
}

.divesites {
  margin-top: 4%;
  padding-top: 2%;
  border-radius: 10px;
}

.margin-row {
  margin: 40px 40px;
  background-color: #353942;
  border-radius: 20px;
  padding: 20px 5px;
  width: 80%;
}


#map {
  margin-top: 2%;
}

div.bordure {
  border-bottom: 1px solid black;
}

.divesite-index-card {
}

.divesite-index-card h2, p {
  color: rgb(190,190,190);
}

.divesite-index-card img {
  border-radius: 20px;
  width: 350px;
  display: block;
}

.divesite-index-card button:hover {
  color: #6c6c6c;
  border-color: rgb(190,190,190);
}

.text-divesite-index {
  text-align: center;
  width: 315px;
}

.col-sm-2 .col-sm-offset-4 .text-center .btn .btn-banner-sidebar h2 {
  color: #353942;
}

.title-divesite {
  color: #353942;
}

.btn-banner-sidebar-tab h2 {
  color: #353942;
}

.btn-banner-sidebar-tab {
  border-color: #353942;
}

.event-card-index {
  background-color: #353942;
  color: rgb(190,190,190);
}

.event-card-index a {
  background-color: #6c6c6c;
  color: rgb(190,190,190);
}

.event-card-index a:hover{
  background-color: #6c6c6c;
  color: rgb(190,190,190);
}

#divesites {
  color: #6c6c6c;
}



