.new-dive-header {
  margin-top: 4%;
  width: 50%;
  color: #011238;
  line-height: 90%;
}
.dive-navigator {
  height: 1800px;
}

.dive-index-list {
  margin: 50px 0;
}
.dive-index-icon {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
.dive-index-icon-text {
  font-weight: bold;
}

////////////////////////////////

.dive-navigation-box {
  display: flex;
  flex-direction: row;
}
.dive-navigation-item {
  flex-grow: 1;
}

////////////////////////////////

.dive-show {
  margin-right: -22%;
}

.dive-show-cover {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  background-position: center;
}
.dive-show-graph {
  height: 80%;
}
.dive-info-box {
  height: 300px;
  margin: 20px 0;
}
.dive-info-box-stats {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dive-info-box-item {
  flex-grow: 1;
  border: 1px solid black;
}
////////////////////////////////


.dive-new {
  height: 100%;
}
.dive-form-background {
  background-position: center;
  background-size: cover;
  // background: url('turtle-storm.jpg') no-repeat center center fixed, linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.2));
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url('turtle-storm.jpg');
  // min-height: 200vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-size: cover !important;
}
.login-form {
  width: 50%;
  background-color: #F7F7F7;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-actions.input button{
  background-color: #5C8A1D;
}

.dive-new-form {
  color: rgb(230, 230, 230);
  padding: 8% 7% 8% 12%;
}
.dive-input {
  opacity: 0.5;
  padding: 60px 0;
}
.dive-input-header {
  padding-top: 3%;
  padding-bottom: 5%;
  padding-right: 15%;
}
.log-active {
  opacity: 1;
}
.dive-box {
  width: 80%;
}

.first-row {
  margin-top: 10%;
}

.first-row p {
  font-size: 30px;
  font-weight: bold;
  color: #367A94;
}

.first-row h6 {
  color: #367A94;
}


.following-row {
  margin-top: 2%;
}

.following-row p {
  font-size: 28px;
  font-weight: bold;
  color: #367A94;
}

.following-row h6 {
  color: #367A94;
}

.dive-chart {
  max-width: 500px;
}

.dive_container {
  width: 100%;
}

.header-box {
  width: 100%;
}
.dive-icon {
}
