.dive-index-list {
  margin: 50px 0;
}
.dive-index-icon {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
.dive-index-icon-text {
  font-weight: bold;
}

////////////////////////////////

.dive-show {
  margin-bottom: 100px;
}
.dive-show-cover {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  background-position: center;
}
.dive-show-graph {
  height: 80%;
}

////////////////////////////////

.animal-card {
  display: flex;
  flex-direction: column;
  p {

  }
}
.animal-image {
  margin-bottom: 2%;
  height: auto;
  width: 320px;
  // height: 130px;
  // width: 320px;
}
