.space-3 {
  margin-right: 24%
}

.space-4 {
  margin-bottom: 20px;
}

.panel {
  border: 1px solid #dce0e0;
  background-color: white;
}

.panel-header {
  background-color: #edefed;
  font-size: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.panel-body {
  padding-left: 15px;
}

#result {
  height: 30%;
  width: 90%;
}

#sidebar-wrapper {
  width: 15%;
  height: 100%;
}

.js-container {
  width: 65%;
}

.single-dive-container-cover {
  height: 100%;
  width: 95%;
}

.head-box p{
  margin-top: 10px;
  color: white;
}

.head-box h1{
  color: white;
  margin: 10px 0 20px 0;
}
.dive-comments {
  padding-left:10%;
  margin-bottom: 10%;
}
.dive-title {
  padding: 0 5%;
}
.dive-sightings {
  padding-right: 10%;
  padding-bottom: 10%;
  margin-bottom: 10%;
  border-right: solid 1px black;
}
.dive-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dive-info-box {
  height: 450px;
  background-color: white;
}

.dashboard-dive-info-box {
  height: 100%;
  width: 100%;
  padding: 30px 5%;
  background-color: white;
  height: 100%;
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

#map {
  border: solid 2px #D0D8D9;
}

.swipebox-image {
  max-width: 100%;
}
.dive-graph-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    width: 100%;
  }
}
.dive-graph {
  * {flex-grow: 1;}
}

.dive-card {
  height: 145px;
  border-radius: 15px;
  border: solid 2px #CECECE;
}

.dive-card-box {
  height: 540px;
}

.profil-header {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #353942;
  color: white;
}

.dive-title {
  border-top: solid 1px #D0D8D9;
  border-bottom: solid 1px #D0D8D9;
}
