.space-3 {
  margin-right: 24%
}

.space-4 {
  margin-bottom: 20px;
}

.panel {
  border: 1px solid #dce0e0;
  background-color: white;
}

.panel-header {
  background-color: #edefed;
  font-size: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.panel-body {
  padding-left: 15px;
}

#result {
  height: 30%;
  width: 90%;
}

#sidebar-wrapper {
  width: 15%;
  height: 100%;
}

.js-container {
  width: 65%;
}

.sidebar-nav {
  height: 100%;
}

.avatar-bar {
  text-align: center;
  background-color: #222222;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #367BBA;
}

.avatar-bar p{
  padding-top: 5%;
  }

  .avatar-bar h6{
  padding-top: 6%;
  }

.link-box {
  padding-top: 10%;
  height: 80%;
}

.link-box li{
  margin-top: 10%;
  padding-left: 10%;
}
