.space-3 {
  margin-right: 24%
}

.space-4 {
  margin-bottom: 20px;
}

.panel {
  border: 1px solid #dce0e0;
  background-color: white;
}

.panel-header {
  background-color: #edefed;
  font-size: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.panel-body {
  padding-left: 15px;
}

#result {
  height: 30%;
  width: 90%;
}

#sidebar-wrapper {
  width: 15%;
  height: 100%;
}

.js-container {
  width: 65%;
}

.single-dive-container-cover {
  width: 503px;
}

.box-stats {
  background-color: rgba(53, 57, 66, 0.9);
}

.head-box {
}

.head-box p{
  margin-top: 8%;
  color: white;
}

.head-box h1{
  margin-bottom: 28%;
  color: white;
}

.full-box-icons h3 {
  font-size: 28px;
}

.dive-info-box {
  height: 450px;
}

.dive-graph {
  margin-top: 9%;
}

.dive-navigation-item {
  padding-left: 10px;
  border-radius: 30px;
  // width: 200px;
  // height: 125px;
}

.dive-card {
  height: 145px;
}

.dive-navigation-box {
  margin-top: 10px;
  margin-bottom: 60px;

}

.profil-header {
  padding-top: 20px;
  background-color: rgb(210,210,210);
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.profil-infos {

}
