.divesites-search input {
  width: 100%;
  font-size: -1em;
  background: rgb(199,199,199);
  border: 1px solid rgb(199,199,199);
  color: #6c6c6c;
}

#divesites-search-txt {
  color: #6c6c6c !important;
}

.ui-autocomplete-input {
  color: #6c6c6c !important;
}

.divesites-search input:focus {
}

.divesites-search .results .ui-widget-content {
  background: rgb(199,199,199);
  font-size: -1em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.divesites-search .results .ui-menu-item {
  font-family: 'Open Sans';
  padding: .4em .6em .4em 6.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 6.5em;
}

.divesites-search .results .ui-state-focus {
  background: #fff;
  font-weight: bold;
}

.divesites-search .results .ui-menu-item .img {
  position: absolute;
  width: 5em;
  height: 6em;
  top: .4em;
  left: .6em;
  overflow: hidden;
}

.divesites-search .results .ui-menu-item .img img {
  max-width: 100%;
}

.divesites-search .results .ui-menu-item .name {
  display: block;
  color: #555;
}

.divesites-search .results .ui-menu-item .longitude {
  display: block;
  font-size: .8em;
  color: #6c6c6c;
  margin-top: .6em;
  letter-spacing: 1px;
}

.divesites-search .results .ui-menu-item .latitude {
  display: block;
  font-size: .8em;
  color: #6c6c6c;
  margin-top: .5em;
}

.divesites-search .results .ui-state-focus .latitude,
.divesites-search .results .ui-state-focus .longitude,
.divesites-search .results .ui-state-focus .name {
  color: #6c6c6c;
}

.divesites-index {
  display: flex;
  justify-content: center;
}

.tab-btn {
border-left: solid 1px black;
}
