<div class="container-fluid">
  <div class="header">
      5 x divespot cards in flexbox
  </div>
  <div class="body">
    <div class="dive-title">
    </div>
    <div class="dive-info">
      <h2>Dive info</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          stats
          <div class="col-xs-12 col-md-12">
            time start
          </div>
          <div class="col-xs-6">
            Max depth
          </div>
          <div class="col-xs-6">
            dive time
          </div>
          <div class="col-xs-6">
            start + end air
          </div>
          <div class="col-xs-6">
            air consumption
          </div>
          <div class="col-xs-6">
            Temp
          </div>
          <div class="col-xs-6">
            Viz
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          graph
        </div>
      </div>
    </div>
    <div class="dive-sightings">
      <h2>Sightings</h2>
      <div class="row">
        <% @dive.sightings.each do |sighting| %>
          <div class="col-xs-6 col-md-3">
            <p class="text-center"><%= sighting.animal.name %></p>
            <%=  image_tag(asset_path(sighting.animal.image_url), class: "img-responsive")%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="comments">
      <h2>Comments</h2>
      <p><%= @dive.comments %></p>
    </div>
  </div>
</div>
