<div class="divebox-header">
  <h2>Your recent dives</h2>
  <%= render 'dives/divebox_nav', dives: dives %>
</div>

<div class="divebox-body">
  <%#= render 'dives/divebox_dive', dive: @dive %>
</div>
