
<div class="profil-header">
  <h2 class="text-center" style="padding-bottom: 5px;">
    <% if @dive.user == current_user %>
      <strong>
        <h2>My Dive</h2>
      </strong>
    <% else %>
      <strong>
        <h2><%= @dive.user.first_name.capitalize %>'s dive</h2>
      </strong>
    <% end %>
  </h2>
</div>
<div>
  <h2 class="" style="padding: 0 0 20px 5%;">
    <strong class="title-head">
      <div>At <%= @dive.divesite.name %>,</div>
      <div>on <%= date_long(@dive.datetime) %></div>
    </strong>
    <p style="padding-left: 6%;">
      <%= link_to("Check out the divesite", @dive.divesite) %>
    </p>
  </h2>

</div>
