<div class="dive-show-header">
  <h4><%= date_long(@dive.datetime) %></h4>
  <h2>
    <%= @dive.divesite.name %>,
    <em><%= @dive.divesite.location %></em>
  </h2>
  <h5>Type: <%= @dive.types %></h5>
</div>
