
<div class="profil-header">
  <h2 class="text-center" style="padding-bottom: 20px;">
    <strong>
      <%= link_to( @dive.divesite, class: "head-link") do %>
        At <%= @dive.divesite.name %>,
        on <%= date_long(@dive.datetime) %>
      <% end %>
    </strong>
  </h2>
</div>
