<div class="dive-show-header">
  <div class="row">
    <div class="text-center">
      <h1>
        <%= link_to @dive.divesite.name, @dive.divesite %>
        <%= date_long(@dive.datetime) %>
      </h1>
    </div>
  </div>
</div>
