<div class="dive-show-info">
  <h2>Dive details</h2>
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <dl class="dl-horizontal">
          <% dive_fields_hash(@dive).each do |field| %>
          <dt><%= field[:key] %></dt>
          <dd>
            <%= field[:value] %>
            <em><%= field[:unit] %></em>
          </dd>
          <% end %>
        </dl>
      </div>
      <div class="col-xs-12 col-md-8">
        <!-- <%= line_chart @dive.data_points.group(:time).count %> -->
      </div>
    </div>
  </div>
</div>
