<div class="dive-show-info">
    <div class="row">
      <div class="col-xs-12 col-md-8 dive-chart">
        <%= area_chart @dive.data_points.pluck(:time, :depth) %>
      </div>
      <!-- <div class="col-xs-12 col-md-4">
        <dl class="dl-horizontal">
          <% dive_fields_hash(@dive).each do |field| %>
          <dt><%= field[:key] %></dt>
          <dd>
            <%= field[:value] %>
            <em><%= field[:unit] %></em>
          </dd>
          <% end %>
        </dl>
      </div> -->
      <div class="col-xs-12 col-md-3 text-center first-row">
      <h6> Depth </h6>
      <p> 14 m</p>
      </div>
      <div class="col-xs-12 col-md-3 text-center first-row">
      <h6> Time </h6>
      <p> 2 h</p>
      </div>
    </div>

<hr>
    <div class="row">

      <div class="col-xs-12 col-md-3 text-center following-row">
      <h6> Type </h6>
      <p> Shark </p>
      </div>
      <div class="col-xs-12 col-md-3 text-center following-row">
      <h6> Temp. </h6>
      <p> 15°c</p>

      </div>
      <div class="col-xs-12 col-md-3 text-center following-row">
      <h6> Start air </h6>
      <p> 200 bar</p>
      </div>
      <div class="col-xs-12 col-md-3 text-center following-row">
      <h6> End air </h6>
      <p> 100 bar</p>
      </div>
    </div>
<hr>
    <div class="row">

      <div class="col-xs-12 col-md-12 text-center following-row">
      <h6> Enjoyment </h6>
      <p> 5/5 </p>
      </div>

    </div>
</div>



















