<div class="dive-index-stats">
  <div class="jumbotron">
    <div class="container-fluid">
      <h2>Dive Stats</h2>
      <div class="table-responsive">
        <table class="table">
          <%= render 'stats_types' %>
          <%= render 'stats_buddies' %>
          <%= render 'stats_divesites' %>
        </table>
      </div>
    </div>
  </div>
</div>
