


<!-- TODO .where(public: true) -->



<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <div><img width="140" height="140" src="http://lagazetteanimale.com/wp-content/uploads/2014/08/selfie-singe.jpg" class="img-responsive">
      </div>
      <hr>
      <div>
        <p><%= link_to 'Update my account', edit_user_registration_path %></p>
        <p><%= link_to "Delete", user_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
        <p> <%= @user.email %> </p>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <% current_user.dives.each do |dive| %>
        <%= dive.divesite.name %>
      <% end %>
    </div>
  </div>
</div>
