


<!-- TODO .where(public: true) -->

<div class="container" id='container-cover'>
  <div class="container" id='stats-container'>
    <div class="row">
      <div class="col-md-12" id='graph-container'>
        <div class="col-md-6 average-stats">
          <div class="chart-graph">
           <%= line_chart @user.dives.first.data_points.pluck(:time, :depth) %>
          </div>
        </div>
        <div class="average-stats-details">
          <div class="box-stats">
            <div class="sub-box">
              <p class="text-center">Dives</p>
              <h2 class="text-center">144</h2>
            </div>
            <div class="sub-box">
              <p class="text-center">Time spent </p>
              <h2 class="text-center"> 24 hrs </h2>
            </div>
          </div>

          <div class="full-box">
            <div class="full-box-details">
              <p> Sharks</p>
            </div>
            <div class="full-box-details">
              <p> Nemo</p>
            </div>
            <div class="full-box-details">
              <p>Turtle </p>
            </div>
          </div>
          <div class="full-box">
            <div class="full-box-details">
              <p> Sharks</p>
            </div>
            <div class="full-box-details">
              <p> Nemo</p>
            </div>
            <div class="full-box-details">
              <p>Turtle </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'users/light_slider.js.erb' %>
  <% end %>
<% end %>




