<!-- User badge: replace "logo.png" with user picture -->
<!-- Add link_to user page when routes are created -->
<div class="badge-container">
  <%= link_to "#" do %>
    <%= image_tag "logo.png", class: "avatar" %>
  <% end %>
  <div class="badge badge-red">
    3
  </div>

  <!-- Icon badge: replace fontawesome envelope with chosen icon -->
  <!-- Add link_to correct page when routes are created -->
  <div class="badge-container">
    <%= link_to "#" do %>
    <i class="fa fa-envelope-o"></i>
  <% end %>
  <div class="badge badge-red">
    3
  </div>
</div>


