<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://trello-backgrounds.s3.amazonaws.com/583060c9989f19549238eb5b/800x534/bf4ef26fa227f1b81263e4b0fef2a7ac/cenote.jpg');">
  <div class="banner-content">
    <h1>Scubalog</h1>
    <p>Scubalog Scubalog Scubalog</p>
    <%= link_to "#", class: " btn btn-banner" do%>
      Dive in
    <% end %>
  </div>
</div>


