<div class="banner banner-home">
  <div class="banner-content">
    <h1>Scubalog</h1>
    <p>Scubalog Scubalog Scubalog</p>
    <%= link_to "#", class: " btn btn-banner" do%>
      Scubalog-in
    <% end %>
  </div>
</div>
