<div class="banner banner-home">
  <div class="banner-content">
    <h1>Scubalog</h1>
    <p>Never dive alone</p>
    <% if user_signed_in? %>
      <%= link_to "Dive in", current_user, class: "btn btn-banner" %>
    <% else %>
    <div class="btn btn-banner" id="dive-in">Dive in</div>
    <% end %>
  </div>
  <div class="form-login hidden"><%= render 'devise/shared/signinform' %></div>
  <div class="form-signup hidden"><%= render 'devise/shared/signupform' %></div>
</div>

