<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://trello-backgrounds.s3.amazonaws.com/583060c9989f19549238eb5b/800x534/bf4ef26fa227f1b81263e4b0fef2a7ac/cenote.jpg');">
  <div class="card-category">
    Scubalog
  </div>
  <div class="card-description">
    <h2>Scubalog</h2>
    <p>Scubalog Scubalog Scubalog Scubalog</p>
  </div>
<!-- Add link_to correct page -->
  <%=  link_to "#" do %>
    <%= image_tag "logo.png", class: "card-user avatar" %>
  <% end %>

