<div class="divesite-info">
  <h2>Dive Site Information</h2>
  <dl class="dl-horizontal">
    <dt>Difficulty</dt>
    <dd><%= @divesite.difficulty %></dd>
    <dt>Max Depth</dt>
    <dd><%= @divesite.max_depth %></dd>
    <dt>Average Depth</dt>
    <dd><%= @divesite.avg_depth %></dd>
  </dl>
</div>
