<div class="divesite-info">
  <h2>Dive Site Information</h2>
  <dl class="dl-horizontal">
    <p>Difficulty</p>
    <p><%= @divesite.difficulty %></p>
    <p>Max Depth</p>
    <p><%= @divesite.max_depth %></p>
    <p>Average Depth</p>
    <p><%= @divesite.avg_depth %></p>
  </dl>
</div>
