<div class="divesite-reviews-header">
  <i class="fa fa-star-o" style="font-size:28px;"></i>
  <h3>Reviews</h3>
</div>
<div class="divesite-reviews-list">
  <div class="container-fluid reviews-container">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% unless review[:rating] == nil %>
              <% review[:rating].times do %>
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
              <% end %>
              <% (5 - review[:rating]).times do %>
                <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <%= review[:user].first_name.capitalize %>
            <small>
              <span> dove on </span>
              <%= date_short(review[:datetime]) %>
            </small>
          </h3>
        </div>
        <div class="panel-body">
          <%= review[:content] %>
        </div>
      </div>
      <% end %>
    <% else %>
    <p>No reviews yet</p>
    <% end %>
</div>
</div>
