<div class="divesites-search">
  <input type="text" id="divesites-search-txt" autofocus>
  <div class="results" id="divesites-search-results"></div>
</div>

<%= content_for :script do %>
  new app.Divesites;
<% end %>
