$sidebar_width: 250px;

#open-menu {
  position: absolute;
  top: 19px;
  right: 25px;
  color: black;
  background: none;
  border: none;

}

.site-content {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;
}

.app-sidebar {
  min-height: 100%;
  // border-right: solid 1px #C7C7C7;
}
.sidebar-content {
  position: fixed;
  width: 230px;
}
.sidebar {
  min-height: 100%;
  background: #001013;
  color: white;
  flex-basis: $sidebar_width;
  padding: 10px;
  width: $sidebar_width;
  position: relative;
  z-index:1
}

.content {
  flex-grow: 0;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    min-height: 100vh;
    transition: transform ease 200ms;
    &.closed {
      transform: translateX(-$sidebar_width);
    }
  }
}

.menu-handle {
  padding: 0 10px;
  font-size: 26px;
}

.sidebar .menu-handle {
  color: white;
}

.sidebar-item-name {
  font-size: 20px;
    padding: 5px;
  font-weight: 800;
  a {
    color: rgb(199, 199, 199)
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  a:hover {
    color: #1F74BA;
  }
}

.sidebar-item {
  padding: 5px;
  font-weight: 800;
  a {
    color: rgb(199, 199, 199);
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  a:hover {
    color: #1F74BA;
    border-color: #1F74BA;
  }
}
.sidebar-group-user {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.sidebar-group-actions {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.sidebar-group-menus {
  margin-left: 20px;
}
.sidebar-logo {
  margin-top: 20px
}
.sidebar-search {
  font-weight: lighter;
}
.sidebar-logo, .user-avatar, .user-name {
  text-align: center;
}

.sidebar-icons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  // text-align: center;
}

.sidebar-scubalog {
  color: rgb(199, 199, 199);
  text-align: center;
  text-decoration: none;
}

.sidebar-scubalog:hover {
  text-decoration: none;
}

.sidebar-scubalog:active {
  text-decoration: none;
}

.btn-banner-sidebar {
  border: solid 1px bold;
  border-color: rgb(199, 199, 199);
  color: rgb(199, 199, 199);
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
.btn-text {
  padding: 10px 0;
}

.btn-banner-sidebar :hover {
  border-color: #1F74BA;
}


.sibebar hr{
   color: rgb(199, 199, 199);
}
