.sidebar-nav {
  height: 100%;
}

.avatar-bar {
  text-align: center;
  background-color: #222222;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #367BBA;
}

.avatar-bar p{
  padding-top: 5%;
  }

  .avatar-bar h6{
  padding-top: 6%;
  }

.link-box {
  padding-top: 10%;
  height: 80%;
}

.link-box li{
  margin-top: 10%;
  padding-left: 10%;
}
