.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-home {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url('scuba-diver-30p.jpg') center center no-repeat;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.btn-banner {
  border: solid 1px bold;
  border-color: white;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-banner:hover {
  border: solid 1px bold;
  border-color: white;
  text-decoration: none;
  color: white;
}

.btn-banner:hover a {
  text-decoration: none;
  color: white;
}

.btn-banner:visited {
  border: solid 1px bold;
  border-color: white;
  text-decoration: none;
  color: white;
}

.btn-banner:visited a {
  text-decoration: none;
  color: white;
  border: solid 1px bold;
  border-color: white;
}
