.login {
  width: 500px;
  background-color: #F9F9F9;
  color: black;
}

.login-form {
  align-text: center;
  color: black;
  width: 80%;
  background-color: #F7F7F7;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}
.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-actions.input button{
  background-color: #5C8A1D;
}
