.login {
  width: 100%;
  background-color: #F9F9F9;
  color: black;
}
@media (max-width: $screen-sm) {
  .form-login,.form-signup {
    width: 80%;
  }
}
@media (min-width: $screen-sm) {
  .form-login,.form-signup {
    width: 400px;
  }
}
.form-sign-up {
  padding: 0 0 40px 0;
}

.login-form {
  align-text: center;
  color: black;
  width: 70%;
  background-color: #F7F7F7;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}
.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-actions.input button{
  background-color: #5C8A1D;
}
