.dashboard-header {
  min-height: 50px;
  min-width: 100%;
  background-color: #f8fafd;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.dashboard-header h3 {
  margin-bottom: 20px;
  margin-left: 1%;
  font-weight: 600;
  color: #353942;
}

.dashboard-header i {
  margin-left: 4%;
}

#container-cover {
  background-color: #F4F3F2;
}

#stats-container {
  height: 100%;
  width: 100%;
  margin-top: 3%;
}

#stats-container .row {
  height: 100%;
  width: 100%;
}

.average-stats {
  display: flex;
  align-items: center;
  height: 500px;
  background-color: #F4F3F2;
}

.average-stats-details {
  height: 100%;
  background-color: #F4F3F2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chart-graph {
  display: flex;
  overflow: auto;
  height: 100%;
  width: 100%;
  align-items: center;
}

.highcharts-background {
  height: 100%;

}

.box-stats {
  display: flex;
  height: 33.33%;
  width: 100%;
  background-color: #353942;
  justify-content: center;
  align-items: center;
}


.sub-box {
  height: 100%;
  width: 50%;
  background-color: #F4F3F2;
  border-bottom: solid 1px #d8f5e3;
}

#sub-box-1 h1 {
  font-weight: 600;
}

#sub-box-2 h1 {
  font-weight: 600;
  font-size: 36px;
}

.full-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px #d8f5e3;
  border-bottom: solid 1px #d8f5e3;
  padding: 5% 0;
}

.full-box-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-box-details img{
  width: 60px;
}

.full-box-details .card{
  height: 70%;
  width: 90%;
  border-radius: 5px;
  text-align: center;

}

.full-box-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2%;
}

.full-box-icons h3 {
  font-size: 28px;
}

.full-box-icons h2{
  color: #011238;
}

.full-box-icons p{
  color: #011238;
}

.full-box-icons img{
  margin-top: 0%;
  width: 50px;
}

.type-header {
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  width: 100%;
  background-color: #F3FCF0;
}

.type-header h2{
  margin-top: 1%;
  text-align: center;
}

.my-spots-header {
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  width: 100%;
  background-color: #F3FCF0;
}

.my-spots-header h2{
  margin-top: 1%;
  text-align: center;
}

.dashboard-header img{
  margin-left: 4%;
}
