.dashboard-header {
  min-height: 8%;
  min-width: 100%;
  background-color: #f8fafd;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #BABABA;
  border-top: solid 1px #BABABA;
}

.dashboard-header h3 {
  margin-bottom: 20px;
  margin-left: 1%;
  font-weight: 600;
  color: #353942;
}

.dashboard-header i {
  margin-left: 4%;
}

#container-cover {
  width: 100%;
  height: 80%;
  background-color: #F3FCF0;
}

#stats-container {
  height: 100%;
  width: 90%;
  margin-top: 3%;
}

#stats-container .row {
  height: 100%;
  width: 100%;
}

#graph-container {
  height: 93%;
  width: 100%;
}

.average-stats {
  height: 80%;
  background-color: #f4fcf1;
  display: flex;
  align-items: center;

}

.average-stats-details {
  height: 80%;
  background-color: #f4fcf1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chart-graph {
  display: flex;
  padding-right: 5px;
  overflow: auto;
  height: 100%;
  margin-right: 15%;
}

.highcharts-background {
  height: 100%;

}

.box-stats {
  display: flex;
  height: 33.33%;
  width: 100%;
  background-color: #E6E6E6;
  justify-content: center;
  align-items: center;
}


.sub-box {
  height: 100%;
  width: 50%;
  background-color: #F3FCF0;
  border-bottom: solid 1px #d8f5e3;
  color: #011238;
}

#sub-box-1{
  height: 100%;
}

#sub-box-2{
  height: 100%;
}

#sub-box-1 h1 {
  margin-top: 18%;
  margin-bottom: 6%;
  font-weight: 600;
}

#sub-box-1 h1{
  margin-left: 12%;
}

#sub-box-1 p{
  margin-left: 12%;
}

#sub-box-2 h1 {
  margin-top: 19%;
  margin-bottom: 7%;
  font-weight: 600;
  font-size: 36px;
}

.sub-box h2 {
  margin-top: 0%;
}

#sub-box-2 h1{
  margin-right: 20%;
}

#sub-box-2 p{
  margin-right: 20%;
}

.full-box {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #d8f5e3;
  border-bottom: solid 1px #d8f5e3;

}

.full-box-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-box-details img{
  width: 60px;
}

.full-box-details .card{
  height: 70%;
  width: 90%;
  border-radius: 5px;
  text-align: center;

}

.full-box-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}

.full-box-icons h2{
  margin-top: 13%;
  margin-bottom: 13%;
  color: #011238;
}

.full-box-icons p{
color: #011238;
}

.full-box-icons img{
  margin-top: 0%;
  width: 50px;
}

.type-header {
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  width: 100%;
  background-color: #F3FCF0;
}

.type-header h2{
  margin-top: 1%;
  text-align: center;
}

.my-spots-header {
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  width: 100%;
  background-color: #F3FCF0;
}

.my-spots-header h2{
  margin-top: 1%;
  text-align: center;
}

.dashboard-header img{
  margin-left: 4%;
}
