[Desktop Entry]
Encoding=UTF-8
Name=Link to Scubalog sitemap.html - draw.io
Type=Link
URL=https://www.draw.io/?state=%7B%22ids%22:%5B%220B-Z47aLrtQXyWkhXVXlvTVV6WGM%22%5D,%22action%22:%22open%22,%22userId%22:%22{userId}%22%7D#G0B-Z47aLrtQXyWkhXVXlvTVV6WGM
Icon=text-html
Name[en_US]=sitemap
