// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "models/index";
@import "layout/sidebar";

// Search queries CSS
@import "search/index";

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

.site-content {
  flex: 1;
}

.app-content {
  flex-grow: 1;
}
